/CalculateShapeLibrary.Test/obj
/CalculateShapeLibrary.Test/bin
/CalculateLibrary/bin/Debug/netstandard2.0/CalculateLibrary.deps.json
/CalculateLibrary/bin/Debug/netstandard2.0/CalculateLibrary.dll
/CalculateLibrary/bin/Debug/netstandard2.0/CalculateLibrary.pdb
/CalculateLibrary/bin/Debug/netstandard2.0/CalculateShapeLibrary.deps.json
/CalculateLibrary/bin/Debug/netstandard2.0/CalculateShapeLibrary.dll
/CalculateLibrary/bin/Debug/netstandard2.0/CalculateShapeLibrary.pdb
/CalculateLibrary/obj/CalculateLibrary.csproj.nuget.cache
/CalculateLibrary/obj/CalculateLibrary.csproj.nuget.dgspec.json
/CalculateLibrary/obj/CalculateLibrary.csproj.nuget.g.props
/CalculateLibrary/obj/CalculateLibrary.csproj.nuget.g.targets
/CalculateLibrary/obj/CalculateShapeLibrary.csproj.nuget.cache
/CalculateLibrary/obj/CalculateShapeLibrary.csproj.nuget.dgspec.json
/CalculateLibrary/obj/CalculateShapeLibrary.csproj.nuget.g.props
/CalculateLibrary/obj/CalculateShapeLibrary.csproj.nuget.g.targets
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateLibrary.AssemblyInfo.cs
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateLibrary.AssemblyInfoInputs.cache
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateLibrary.assets.cache
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateLibrary.csproj.CoreCompileInputs.cache
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateLibrary.csproj.FileListAbsolute.txt
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateLibrary.csprojAssemblyReference.cache
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateLibrary.dll
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateLibrary.pdb
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateShapeLibrary.AssemblyInfo.cs
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateShapeLibrary.AssemblyInfoInputs.cache
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateShapeLibrary.assets.cache
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateShapeLibrary.csproj.FileListAbsolute.txt
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateShapeLibrary.csprojAssemblyReference.cache
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateShapeLibrary.dll
/CalculateLibrary/obj/Debug/netstandard2.0/CalculateShapeLibrary.pdb
/CalculateLibrary/obj/project.assets.json
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.deps.json
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.dll
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.exe
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.pdb
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.runtimeconfig.dev.json
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.runtimeconfig.json
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.deps.json
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.dll
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.exe
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.pdb
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.runtimeconfig.dev.json
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.runtimeconfig.json
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.dll
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/CalculateShapeLibrary.pdb
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/Castle.Core.dll
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/Ninject.Extensions.Factory.dll
/CalculateShapeLibrary.Consumer/bin/Debug/netcoreapp3.0/Ninject.dll
/CalculateShapeLibrary.Consumer/obj/CalculateShapeLibrary.Consumer.Core.csproj.nuget.cache
/CalculateShapeLibrary.Consumer/obj/CalculateShapeLibrary.Consumer.Core.csproj.nuget.dgspec.json
/CalculateShapeLibrary.Consumer/obj/CalculateShapeLibrary.Consumer.Core.csproj.nuget.g.props
/CalculateShapeLibrary.Consumer/obj/CalculateShapeLibrary.Consumer.Core.csproj.nuget.g.targets
/CalculateShapeLibrary.Consumer/obj/CalculateShapeLibrary.Consumer.csproj.nuget.cache
/CalculateShapeLibrary.Consumer/obj/CalculateShapeLibrary.Consumer.csproj.nuget.dgspec.json
/CalculateShapeLibrary.Consumer/obj/CalculateShapeLibrary.Consumer.csproj.nuget.g.props
/CalculateShapeLibrary.Consumer/obj/CalculateShapeLibrary.Consumer.csproj.nuget.g.targets
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.AssemblyInfo.cs
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.AssemblyInfoInputs.cache
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.AssemblyInfo.cs
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.AssemblyInfoInputs.cache
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.assets.cache
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.csproj.CopyComplete
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.csproj.FileListAbsolute.txt
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.csprojAssemblyReference.cache
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.dll
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.exe
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.Core.pdb
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.assets.cache
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.csproj.CopyComplete
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.csproj.FileListAbsolute.txt
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.csprojAssemblyReference.cache
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.dll
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.exe
/CalculateShapeLibrary.Consumer/obj/Debug/netcoreapp3.0/CalculateShapeLibrary.Consumer.pdb
/CalculateShapeLibrary.Consumer/obj/project.assets.json
